<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   
   <form action ="/team" method="POST">
      <p>
        <label for="name">Team Name:
          <input type="text" name="name" id="name">
        </label> 
      </p>
      <p>
        <label for="coach">Coach:
          <input type="text" name="coach" id="coach">
        </label> 
      </p>
      <p>
        <label for="guard">Point Guard:
          <input type="text" name="pg" id="guard">
        </label> 
      </p>
      <p>
        <label for="shooting">Shooting Guard:
          <input type="text" name="sg" id="shooting">
        </label> 
      </p>
      <p>
        <label for="foward">Small Foward:
          <input type="text" name="sf" id="foward">
        </label> 
      </p>
      <p>
        <label for="power">Power Foward:
          <input type="text" name="pf" id="power">
        </label> 
      </p>
      <p>
        <label for="center">Center:
          <input type="text" name="c" id="center">
        </label> 
      </p>
      
      
      <input id="Submit" type="submit">
   </form>
  
 </body>
</html>


